
Proyecto/.vs/Proyecto/FileContentIndex/6861e190-023b-41a9-b8f4-0902ea5dc2f0.vsidx
Proyecto/.vs/Proyecto/FileContentIndex/e4263e18-c3c1-4546-84ae-6d867e3c576a.vsidx
Proyecto/.vs/Proyecto/FileContentIndex/ea582c72-49b3-4e3e-8e1c-1d1aeb1d253c.vsidx
Proyecto/.vs/Proyecto/FileContentIndex/read.lock
Proyecto/.vs/Proyecto/v17/.suo
Proyecto/.vs/Proyecto/v17/Browse.VC.db
